<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>490496210742-uf3dbhdrdmutqq3n4cj4e48iqs2ogtrm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.490496210742-uf3dbhdrdmutqq3n4cj4e48iqs2ogtrm</string>
	<key>API_KEY</key>
	<string>AIzaSyBz3mRGhY6PtFYYRT0oy3Ww7fdZ4xsTEaw</string>
	<key>GCM_SENDER_ID</key>
	<string>490496210742</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.golos.testing.golos-ios</string>
	<key>PROJECT_ID</key>
	<string>golos-5b0d5</string>
	<key>STORAGE_BUCKET</key>
	<string>golos-5b0d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:490496210742:ios:dbf097ed776b5bc8</string>
	<key>DATABASE_URL</key>
	<string>https://golos-5b0d5.firebaseio.com</string>
</dict>
</plist>